/* Golobal Style  */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #333;

  .container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
}
h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: #333;
  text-align: center;
}
h3 {
  font-size: 24px;
  color: white;
  text-align: center;
}
.navbar {
  background-color: rgb(175, 200, 229);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
#nav-link {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 25px;
}
#nav-link li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500px;
  font-size: 12px;
}
.hero-section {
  display: flex;
  background-image: url(https://refactory.academy/wp-content/uploads/2025/08/0G2A8223-768x512.jpg);
  text-align: center;
}
button {
  padding: 15px 30px;
  border-radius: 8px;
  color: white;
}
.purp {
  background-color: purple;
}
.yello {
  background-color: rgb(255, 241, 43);
}
.white {
  background-color: white;
}
.header-about {
  color: purple;
  text-align: left;
  font-size: 28px;
}
.sub-header-about {
  font-size: 24px;
}
.aboutRefactory {
  grid-template-columns: 1fr 1fr;
}
.parg-about {
  width: 50%;
}
