/* Golobal Style  */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #333;

  .container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
}
.navbar {
  background-color: rgb(175, 200, 229);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}
#nav-link {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 25px;
}
#nav-link li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500px;
  font-size: 15px;
}
.hero-section {
  display: flex;
  background-image: url(https://refactory.academy/wp-content/uploads/2025/08/0G2A8223-768x512.jpg);
}
button {
  padding: 10px;
  border-radius: 8px;
  background-color: purple;
}
